/* CodeEditor.css */

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .container1 {
    max-width: 1001px;
    padding: 90px;
  }
  
  /* Section Styles */
  .section-divider {
    border-top: 0px solid #ccc;
    margin: 20px 0;
  }
  
  #coding {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-top: 0px; /* Increase space between navbar and section */
  }
  
  /* Header Styles */
  .code-editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .code-editor-header select {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .code-editor-header button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .code-editor-header button:hover {
    background-color: #45a049;
  }
  
  /* Editor Container Styles */
  .editor-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Output Container Styles */
  .output-container {
    background-color: #3b72de;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    max-height: 200px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .output-container pre {
    margin: 0;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .bg-gray-100 {
    background-color: #f7fafc;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  
  .text-blue-600 {
    color: #3182ce;
  }
  